#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=/home/drb/Documents/git/dotconfig/util/wallpaper.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Wallpaper
Comment=
Name[en_GB]=wallpaper.py.desktop
